.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
